	@charset "utf-8";
	
	@font-face {
		font-family: Lobster; 
		src: url(../fonts/lobsterRegular.ttf); /* Путь к файлу со шрифтом */
	}
	
	a{
		text-align: center;
		font-family: Lobster; 
		src: url(../fonts/lobsterRegular.ttf); /* Путь к файлу со шрифтом */
		font-size: 15pt;
		text-decoration: none;
		color: blue;
	}
	a:hover{
		color:black;
	}
	a:visited{
		color:black;
	}
   
	body {
		background-color: #FFFFFF;
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
		text-align: center;
		background-image: url(../images/fon.png);
	}
		
	body img{
		height: 300;
	}
	
	h1{
		text-align: center;
		font-size: 40pt;
		font-family: "Lobster";
		margin-bottom: 21px;
		-webkit-box-shadow: 0 0;
		box-shadow: 0 0;
		text-shadow: 0px 0px 13px #FFFFFF;
	}
		
	h2{
		text-align: center;
		font-size: 28pt;
		font-family: Garamond;
		margin-bottom: 21px;
		-webkit-box-shadow: 0 0;
		box-shadow: 0 0;
		font-weight: bold;
	}
		
	p {
		text-align: justify; /* Выравнивание по ширине */
	}

	#fname{
		position: relative;
		padding-top: 8px;
		padding-left: 110px;
	}

	.button{
		position: relative;
		margin-top: 15px;
		width: 217px;
		height: 53px;
		font-size: 24pt;
		font-family: Garamond;
		font-weight: bold;
		border-radius: 1px;
		background-color: #A9CCE0;
	}

	#creators{
		font-size: 21pt;
	}
	
	#aut_form{
		position: relative;
		/* [disabled]margin-top: 39px; */
		padding-top: 0px;
		padding-right: 29px;
		padding-left: 24px;
	}
	
	#footer {
	position: relative;
	color: #000000; /* Цвет текста */
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 30px;
	padding-bottom: 0px;
	padding-left: 30px;
	clear: left;
	margin-left: 30%;
	font-weight: bold;
	font-size: 18pt;
	text-shadow: 0px 0px 6px #FFFFFF;
	}
	
	#content {
		width: 800px;
		margin: 0 auto;
		overflow: hidden;
		position: relative;
		padding: 10px;
		min-height: 461px;
		box-shadow: 0 0 28px rgba(0,0,0,1);
		image-rendering: optimizeQuality;
		background-color: #FFFFFF;
		-webkit-box-shadow: 0 0 28px rgba(0,0,0,1);
		top: 0px;
		opacity: 1;
	}
		
	#content_background{
		opacity: 0.95;
	}

	button:link {	
		color: #FFFFFF;
		text-decoration: none;
		font-size: 101%;
		min-width: 0px;
	}
	
	button:visited {
		text-decoration: none;
		color: #FFFFFF;
	}
	
button:hover {
	text-decoration: none;
	color: #000000;
	}
	
button:active {
	text-decoration: none;
	font-size: 101%;
	color: #FFFFFF;
	
}
button {
	color: #FFFFFF;
	}
