@charset "utf-8";
@font-face {
	font-family: Lobster;
	src: url(../fonts/lobsterRegular.ttf); /* Путь к файлу со шрифтом */
	width: auto;
   }
body {
	background-color: #FFFFFF;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	background-image: url(../images/fon.png);
	opacity: 0.95;
		}
		body img{
	height: 400px;
	filter: alpha(Opacity=25);
	width: 400px;
		}
		h1{
	text-align: center;
	font-size: 40pt;
	font-family: "Lobster";
	margin-bottom: 16px;
	-webkit-box-shadow: 0 0;
	box-shadow: 0 0;
	text-shadow: 0px 0px 13px #FFFFFF;
	top: -18px;
	position: relative;
		}
h2{
	text-align: center;
	font-size: 30pt;
	font-family: Garamond;
	margin-bottom: 21px;
	-webkit-box-shadow: 0 0;
	box-shadow: 0 0;
		}
		p {
			text-align: justify; /* Выравнивание по ширине */
		}
#message{
	font-size: medium;
	
}
#fname{
	position: relative;
	padding-top: 8px;
	padding-left: 110px;
}
#player{
	position: relative;
	left: -70px;
}
#enemy{
	position: relative;
	left: 382px;
	top: -405px;
}
#field
{
	position: relative;
	left: 64px;
	margin-top: -385px;
	margin-left: 0px;
}

table tr td
{
	height: 35px;
	border: 1px groove black;
	min-width: 35px;
}
table {border-collapse:collapse;}
.hereShip
{
	background-image: url(../images/%D0%BA%D0%BE%D1%80%D0%B0%D0%B1%D0%BB%D1%8C.png);
}
.hitting
{
	background-image: url(../images/%D0%BF%D0%BE%D0%BF%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5.png);
}

.missing
{
	background-image: url(../images/%D0%B2%D1%81%D0%BF%D0%BB%D0%B5%D0%BA%D1%81%20%D0%BF%D1%83%D1%81%D1%82%D0%BE%D0%B9.png);
}
.deadShip
{
	background-image: url(../images/%D0%B2%D0%B7%D1%80%D1%8B%D0%B2%20%D0%B1%D0%B5%D0%B7%20%D1%84%D0%BE%D0%BD%D0%B0.png);
}
.button{
	width: 264px;
	height: 71px;
	font-size: 31pt;
	font-family: Garamond;
	font-weight: bold;
	border-radius: 1px;
	background-color: #A9CCE0;
	position: relative;
	left: 247px;
	margin-top: 33px;
	top: -372px;
}
#change{
	font-size: 30px;
}
#aut_form{
	position: relative;
	width: 407px;
	height: 406px;
	left: 37px;
	margin-left: -393px;
}
	#footer {
	position: relative;
	color: #000000; /* Цвет текста */
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 30px;
	padding-bottom: 0px;
	padding-left: 30px;
	clear: left;
	margin-left: 30%;
	font-weight: bold;
	font-size: 18pt;
	text-shadow: 0px 0px 6px #FFFFFF;
	}
#content {
	width: 800px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	min-height: 586px;
	box-shadow: 0 0 28px rgba(0,0,0,1);
	image-rendering: optimizeQuality;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0 0 28px rgba(0,0,0,1);
	top: 0px;
	opacity: 1;
	padding-bottom: 10px;
	
		}
#content1 {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	padding-top: 49px;
	padding-right: 49px;
	padding-left: 49px;
	box-shadow: 0 0 28px rgba(0,0,0,1);
	image-rendering: optimizeQuality;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0 0 28px rgba(0,0,0,1);
	top: 0px;
	opacity: 1;
	padding-bottom: 0px;
	max-height: 678px;
		}
	button:link {	
		color: #FFFFFF;
		text-decoration: none;
		font-size: 101%;
		min-width: 0px;
	}
	
	button:visited {
		text-decoration: none;
		color: #FFFFFF;
	}
	
button:hover {
	text-decoration: none;
	color: #000000;
	}
	
button:active {
	text-decoration: none;
	font-size: 101%;
	color: #FFFFFF;
	
}
button {
	color: #FFFFFF;
	}
#message{
	margin-left: -90px;
	/*text-align: center;*/
	font-size: 25pt;
	font-family: Garamond;
}
